@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*  RESET  */
*,
*::after,
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
}

img{
    display: block;
    width: 100%;
    /* height: auto; */
}

input, button, textarea{
    font: inherit;
}

/*  VARIABLES  */
:root{
    --FONT-FAMILY: 'Manrope', sans-serif;
    --FONT-WEIGHT-700: 700;

    --VERY-DARK-GRAY: #48556A;
    --DARK-GRAY: #6D7F97;
    --GRAY: #9EAFC2;
    --LIGHT-GRAY: #ECF2F8;
}

/* ||  GENERAL STYLES   */
html{
    scroll-behavior: smooth;
    font-family: var(--FONT-FAMILY);
}

body{
    background-color: var(--LIGHT-GRAY);
    min-height: 100vh;
    justify-content: center;
}

.heading{
    color: var(--VERY-DARK-GRAY);
}

.description{
    color: #6E8098;
}

.profileContainer{
    display: flex;
    margin-top: 1rem;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

.profileData{
    display: flex;
    gap: 1rem;
}
.name{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #48556A;
}

.date{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #9DAEC2;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2rem;
    color: #48556A;
}
.attribution a { 
    color: teal;
    text-decoration: none; 
}

/* ||  MEDIA QUERIES   */
@media screen and (max-width: 844px){
    body {
        padding: 2em;
    }
    .wrapper{
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: #FFFFFF;
    }
    .wrapper img{        
        position: static;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
    }  
    .text{
        margin: 1rem;
    }
    .heading{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    .description{
        font-weight: 500;
        font-size: 12.25px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        margin-top: 1.3rem;
    }
    .name{font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        flex-wrap: nowrap;
    }
    .date{font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.121875px;
    }
    .profileContainer{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .avatar img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 1em;
    }
    .profile{
        display:grid;       
    }
    .share{
        background-color: #48556A;
        display: flex;
        width: 89%;
        height: 4em;
        bottom: 8em;
        left: 2em;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        justify-content: center;
        position: absolute;
    }
    .button{
        z-index: 5;
    }
    .button{
        width: 32px;
        height: 32px;
        border: none;
        background-color: #ECF2F8;
        border-radius: 100%;
        justify-content: center;
    }
    .shareSvg {
        display: flex;
        align-items: center;
        width: 175px;
        justify-content: space-evenly;
    }    
    .share.hidden {
        display: none;
    } 
}

@media screen and (min-width: 845px) {       
    .wrapper{
        display: flex;
        border-radius: 10px;
        background-color: #FFFFFF;
        margin: 16rem auto;
        max-width: 60%;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
    }
    .drawers{
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        position: relative;
        width: 100%;
        /* width: 300px;
        height: 280px; */
    }
    .text {
        margin: 2rem 2.5rem;
    }
    .heading{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.25px;
    }
    .description{
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.25rem;
        margin-top: 0.5em;
        letter-spacing: 0.121875px;
    }
    .profileContainer{
        display: flex;
    }
    .avatar img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
    .profile{
        display:grid;
        justify-content: space-between;
    }    
    .hidden{
        display: none;
    }    
    .shareSvg {
        display: flex;
        align-items: center;
        width: 175px;
        justify-content: space-evenly;
    }
    .button{
        z-index: 5;
    }
    .button{
        width: 32px;
        height: 32px;
        border: none;
        background-color: #ECF2F8;
        border-radius: 100%;
        justify-content: center;
    }
    .share{
        /* fix this */
        width: 15rem;
        height: 4rem;
        top: 30em;
        right: 12em;
        background-color: hsl(217, 19%, 35%);
        box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        position: absolute;
    }
    .hidden{
        display: none;
    }
    .share:before {
        display: none;
    }
    .triangle{
        width: 20px;
        height: 20px;
        background-color: #48556A;
        position: absolute;
        top: 85%;
        left:35%;
        transform: rotate(0.375turn);
    }
}